@model WebDb1.Models.Department

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JobId" class="control-label"></label>
                <input asp-for="JobId" class="form-control" />
                <span asp-validation-for="JobId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department1" class="control-label"></label>
                <input asp-for="Department1" class="form-control" />
                <span asp-validation-for="Department1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Education" class="control-label"></label>
                <input asp-for="Education" class="form-control" />
                <span asp-validation-for="Education" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationField" class="control-label"></label>
                <input asp-for="EducationField" class="form-control" />
                <span asp-validation-for="EducationField" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnvSatisfaction" class="control-label"></label>
                <input asp-for="EnvSatisfaction" class="form-control" />
                <span asp-validation-for="EnvSatisfaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccessLevel" class="control-label"></label>
                <input asp-for="AccessLevel" class="form-control" />
                <span asp-validation-for="AccessLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
